.editModeButtons {
  position: absolute;
  width: 50px;
  height: fit-content;
  gap: 10px;
  right: -60px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.editIcon {
  cursor: pointer;
}
